---
layout: default
title: "首页：Home"
---

<!-- 头像效果-start -->
<div class="ih-item circle effect right_to_left">            
    <a href="/blog" title="前往 {{ site.title }} 的主页" class="blog-button">
        <div class="img"><img src="{{ site.baseurl }}/images/avatar.jpg" alt="img"></div>
        <div class="info">
            <div class="info-back">
                <h2> 
                    {% if site.avatarTitle %}
                        {{site.avatarTitle}}
                    {% endif %}
                </h2>
                <p>
                   {% if site.avatarDesc %}
                        {{site.avatarDesc}}
                    {% endif %}
                </p>
            </div>
        </div>
    </a>
</div>
<!-- 头像效果-end -->

<h2>{{ page.title }}</h2>
<p>最新文章</p>
<ul>
　　{% for post in site.posts %}
　　　　<li>{{ post.date | date_to_string }} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
　　{% endfor %}
</ul>
