<!DOCTYPE html>
<html>
{% include header.html %}
  
<body>
   <span class="mobile btn-mobile-menu">        
      <div class="nav_container">
         <nav class="nav-menu-item" style = "float:right">           
            {% for item in site.nav %}
                <i class="nav-menu-item">

                  <a href="{{item.url}}" title="{{item.description}}" class="btn-mobile-menu__icon">
                      {{item.title}}
                  </a>
                </i>
            {% endfor %}
          </nav>
      </div>
    </span>
 
/*Coding Test*/
<p>这里是default.html</p>
 
　{{ content }}
</body>
</html>
